@model IEnumerable<CharacterCreator.Models.Character>

<html>
<head>
    <title>Character Creation</title>
</head>
<body>
    <h2>CAHARACTERS</h2>
        @foreach (var listItem in Model)
        {
            <h3>@Html.DisplayFor(modelItem => listItem.name)</h3>
               <p>@Html.DisplayFor(modelItem => listItem.Hair.name)</p>
               <p>@Html.DisplayFor(modelItem => listItem.Skin.name)</p>
               <p>@Html.DisplayFor(modelItem => listItem.Personality.name)</p>
               <p>@Html.DisplayFor(modelItem => listItem.Outfit.name)</p>

                @Html.ActionLink("Details", "Details", new { id = listItem.id })

                @using (Html.BeginForm("Delete", "Characters", new { id = listItem.id }))
                {
                    <input type="submit" value="Delete" />
                }
   
        }
     

       <h3> Create a Character</h3>
    @Html.ActionLink("Create", "Create")

</body>
</html>