@model IEnumerable<CharacterCreator.Models.Character>

<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h2>CAHARACTERS</h2>
        @foreach (var listItem in Model)
        {
            <h3>@Html.DisplayFor(modelItem => listItem.name)</h3>
               <p>@Html.DisplayFor(modelItem => listItem.Hair.name)</p>
               <p>@Html.DisplayFor(modelItem => listItem.Skin.name)</p>
               <p>@Html.DisplayFor(modelItem => listItem.Personality.name)</p>
               <p>@Html.DisplayFor(modelItem => listItem.Outfit.name)</p>
            <li>@Html.ActionLink("Details", "Details", new { id = listItem.characterId }) | @Html.ActionLink("Edit", "Edit", new { id = listItem.characterId }) | Test Delete @using (Html.BeginForm("Delete", "Characters", new { id = listItem.characterId })</li>

</body>
</html>